TSLA_5 Day_candle.png
TSLA_5 Year_candle.png
TSLA_90 Day_bollinger.png
TSLA_90 Day_candle.png
TSLA_5 Year_macd.png
TSLA_90 Day_macd.png
TSLA_90 Day_rsi.png
AV.py
AlphaVantageKey.txt
df.py
rapid.py
trend.py
TSLA_90_bollinger.png
TSLA_90_macd.png
TSLA_90_rsi.png
TSLA_365_ma.png
TSLA_insider_narration.txt
TSLA_insider.png
TSLA_insider.txt
t.py
TSLA_up_down.png
TSLA_earnings.png
AAPL.pptx
AAPL_news_narration.txt
AAPL_news.txt
AAPL_Prev.pptx
AAPL/logo.png
Template_prev.pptx
__pycache__/yf_charts.cpython-311.pyc
bar.py
AAPL_old.pptx
AAPL_snark_11.pptx
AAPL_snark.mp4
AAPL_snark.pptx
bill.wav
farage.wav
morgan.wav
__pycache__/yf_charts.cpython-311.pyc
__pycache__/yf_charts.cpython-311.pyc
__pycache__/yf_charts.cpython-311.pyc
AAPL/up_down.png
AAPL/90_macd.png
__pycache__/yf_charts.cpython-311.pyc
AAPL/earnings.png
AAPL/insider.png
AAPL/recommendations.png
__pycache__/yf_charts.cpython-311.pyc
